[data-theme="dark"] {
    background-color: #3a3e44!important;
}
[data-theme="dark"] .text-dark {
    color: #ffffff!important;
}
[data-theme="dark"] .card {
    background-color: #3a3e44!important;
}
[data-theme="dark"] .bg-white {
    background-color: #373b4061!important;
}
[data-theme="dark"] .font-weight-light {
    color: white!important;
}
[data-theme="dark"] .bg-light {
    background-color: #3a3e44!important;
}
[data-theme="dark"] .navbar-light .navbar-brand {
    color: rgb(255 255 255)!important;
}
[data-theme="dark"] .navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 50%)!important;
}
[data-theme="dark"] .navbar-light .navbar-nav .nav-link.active {
    color: rgb(255 255 255 / 90%)!important;
}
[data-theme="dark"] .navbar-light .navbar-nav .nav-link.disabled {
    color: rgb(255 255 255 / 30%)!important;
}
[data-theme="dark"] a.text-dark:hover { 
    color: #dbdbdb!important; 
}
