@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  height: 100%;
  place-items: center;
  /* background: #000; */
}
.text{
  font-size: 150px;
  font-weight: 800;
  outline: none;
  text-transform: uppercase;
  background-size: 400%;
color: black; 
    text-align: center !important;
}
@keyframes animate {
  to{
    background-position: 400%;
  }
}
